:root {
  --primary: #749bdc;
  --dark: #2c3e50;
  --white: #ffffff;
  --gray: #d6d6d6;
  --light: #e4e5eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Hoves", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--dark);
}

/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease;

  background: transparent;
}

.navbar a,
.logo {
  color: var(--white);
  transition: 0.3s;
  text-decoration: none;
  padding: 0% 7px;
}

/* ESTADO SCROLLEADO */

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.navbar.scrolled a,
.navbar.scrolled .logo {
  color: var(--dark);
}


.navbar a:hover {
  color: var(--white);
}

/* HERO */

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background: 
    linear-gradient(rgba(44,62,80,0.1), rgba(44,62,80,0.1)),
    url("../assets/img/hero-clinica.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: var(--white);
  max-width: 800px;
  padding: 0 20px;
}

.hero-content h1 {
  font-family: "Open Sauce", sans-serif;
  font-size: 72px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 22px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 32px;
  border-radius: 50px;
  background: var(--primary);
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: var(--dark);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}



/* SECTIONS */

.section {
  padding: 100px 80px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.bg-light {
  background: var(--light);
}

.section img {
  width: 50%;
}

.card {
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  width: 300px;
  text-align: center;
}
.btn-secondary {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 32px;
  border-radius: 50px;
  border: 2px solid var(--primary);
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: var(--primary);
  color: var(--white);
}

/* FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.form input,
.form textarea {
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.form button {
  background: var(--primary);
  color: var(--white);
  border: none;
  padding: 12px;
  cursor: pointer;
}

/* WHATSAPP */

.whatsapp-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #25D366;
  color: white;
  padding: 15px;
  border-radius: 50px;
  text-decoration: none;
}

/* ANIMACIONES */

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

footer {
  text-align: center;
  padding: 40px;
  background: var(--dark);
  color: var(--white);
}

/* GENERANDO SONRISAS */

.generando {
  display: flex;
  align-items: center;
  padding: 0 80px;
  min-height: 80vh;
  margin-top: -5px; /* evita espacio blanco */
}

.generando-text {
  flex: 1;
}

.generando-text h2 {
  font-family: "Open Sauce", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.generando-text p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.generando-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.generando-img img {
  width: 100%;
  max-width: 500px;
}

/* SERVICIOS DESTACADOS */

.servicios-destacados {
  background: var(--dark);
  padding: 120px 80px;
  color: var(--white);
  text-align: center;
}

.servicios-container {
  max-width: 1200px;
  margin: 0 auto;
}

.servicios-titulo {
  font-family: "Open Sauce", sans-serif;
  font-size: 48px;
  margin-bottom: 80px;
  line-height: 1.2;
}

.servicios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.servicio-item img {
  width: 50px;
  margin-bottom: 25px;
}

.servicio-item h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.servicio-item p {
  line-height: 1.7;
  opacity: 0.9;
}
.servicio-item img {
  width: 55px;
  margin-bottom: 25px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.servicio-item:hover img {
  transform: translateY(-5px) scale(1.05);
  opacity: 0.9;
}

.servicio-item {
  transition: transform 0.3s ease;
}

.servicio-item:hover {
  transform: translateY(-8px);
}

/* SERVICIOS GENERALES */

.servicios-generales {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 80px;
  gap: 80px;
}

.servicios-img {
  flex: 1;
  display: flex;
  gap: 25px;
}

.servicios-img img {
  width: 100%;
  max-width: 344px;
  height: 420px;
  object-fit: cover;
}

/* TEXTO */

.servicios-text {
  flex: 1;
}

.servicios-text h1 {
  font-family: "Open Sauce", sans-serif;
  font-size: 52px;
  color: var(--dark);
  margin-bottom: 35px;
}

.servicios-lista {
  list-style: none;
  padding: 0;
}

.servicios-lista li {
  margin-bottom: 18px;
  font-size: 18px;
  position: relative;
  padding-left: 28px;
  line-height: 1.1;
}

/* Bullet personalizado elegante */

.servicios-lista li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--primary);
  font-size: 22px;
}

.rutina-hero {
  height: 100vh;
  background: url(../assets/img/doctora-martinez.png) center center / cover no-repeat;
  position: relative;
}

.rutina-overlay {
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.rutina-content {
  max-width: 800px;
  color: #fff;
}

.rutina-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 25px;
}

.rutina-content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 35px;
}

.btn-rutina {
  display: inline-block;
  padding: 14px 32px;
  background-color: #2c3e50; /* podés usar tu color principal */
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 40px;
  transition: 0.3s ease;
}

.btn-rutina:hover {
  background-color: #008f84;
  transform: translateY(-2px);
}
/* Aplicación */
.rutina-content {
  max-width: 800px;
  color: #fff;
  opacity: 0;
  animation: fadeUp 1.2s ease forwards;
  animation-delay: 0.3s;
}
.testimonios {
  background-color: #3f5a8a; /* tu azul */
  padding: 120px 8%;
  color: #fff;
}

.container-testimonios {
  display: flex;
  gap: 80px;
}

.testimonios-left {
  flex: 1;
}

.testimonios-left .subtitulo {
  font-size: 18px;
  opacity: 0.8;
}

.testimonios-left h2 {
  font-size: 56px;
  margin-top: 20px;
  line-height: 1.1;
}

.testimonios-right {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.testimonio p {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 15px;
}

.autor {
  font-style: italic;
  opacity: 0.9;
}

.fade-scroll {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

.reserva-turno {
  display: flex;
  width: 100%;
  min-height: 90vh;
}

.reserva-img {
  flex: 1;
  background: url("../assets/img/paciente-contenta.png") center center / cover no-repeat;
}

.reserva-form {
  flex: 1;
  padding: 100px 8%;
  background: #f8f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reserva-form h2 {
  font-size: 42px;
  margin-bottom: 15px;
  color: #1c1c1c;
}

.reserva-form p {
  margin-bottom: 35px;
  color: #555;
}

.reserva-form form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.reserva-form input {
  padding: 14px 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.reserva-form input:focus {
  border-color: #3f5a8a;
}

.fecha-hora {
  display: flex;
  gap: 15px;
}

.reserva-form button {
  margin-top: 15px;
  padding: 15px;
  border: none;
  border-radius: 40px;
  background: #3f5a8a;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.reserva-form button:hover {
  background: #2e4370;
  transform: translateY(-2px);
}



@media (max-width: 900px) {

  .reserva-turno {
    flex-direction: column;
  }

  .reserva-img {
    height: 350px;
  }

  .fecha-hora {
    flex-direction: column;
  }

}

.horarios-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.horarios-grid button {
  padding: 10px;
  border: 1px solid #3f5a8a;
  background: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s ease;
}

.horarios-grid button:hover {
  background: #3f5a8a;
  color: white;
}

.horarios-grid button.selected {
  background: #3f5a8a;
  color: white;
}

.horarios-grid button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


/* Animación */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .rutina-content h1 {
    font-size: 36px;
  }

  .rutina-content p {
    font-size: 16px;
  }
}


@media (max-width: 900px) {

  .servicios-generales {
    flex-direction: column;
    padding: 80px 30px;
  }

  .servicios-img {
    justify-content: center;
  }

  .servicios-text h1 {
    font-size: 36px;
    text-align: center;
  }

  .servicios-lista li {
    font-size: 16px;
  }

}


@media (max-width: 900px) {
  .servicios-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .servicios-titulo {
    font-size: 34px;
  }
}
